/* You can add global styles to this file, and also import other style files */
ul.pagination {
  margin-bottom: 0;
}

thead tr th {
  color: #fff !important;
  background-color: #4285f4 !important;
  border: 0 !important;
  border-radius: 3px !important;
  font-size: 17px;
  mdb-icon {
    margin-left: 8px;
  }
}

tfoot tr td {
  padding: 14px !important;
}
